body{
    background-image: url(affiche.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0;   
    height: 100vh;
    width: 100vw;
    background-color: rgb(30, 15, 24);
}

option{
    color: white;
    background-color: #6e3b5a;
}

.b{
    background-color: white;
    background-image: none;
}

button.index{
    position: absolute;
    bottom: 2%;
    right: 25%;
    margin-right: 1%;
    margin-bottom: 5%;
    width: 50%;
    height: 10%;
    border-radius: 20px;
    background-color: #6e3b5a;
}

a.achat{
    font-size: large;
    color: white;
    text-decoration: none;
}

a.commander{
    color: white;
    text-decoration: none;
}

h1{
    color: rgb(30, 15, 24);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    font-size: 200%;
    z-index: 1;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(110, 59, 90,0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    label {
        display: block;
        margin-bottom: 5px;
        color: white;
    }
    
}


.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.form-group label {
    margin-right: 10px;
    color: white;
}


.separer{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


input{
    padding: 2%;
    margin-bottom: 5%;
    border-radius: 5px;
}

button.commander{
    background-color: #6e3b5a;
    color: white;
    padding: 2%;
    margin-top: 5%;
    border-radius: 5px;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}


.b {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Utiliser 100vh pour la hauteur de la fenêtre */
    width: 100vw; /* Utiliser 100vw pour la largeur de la fenêtre */
    position: relative;
    overflow: hidden; /* Empêche le défilement */
    transform: rotate(90deg);
}

